.btntip {
	color     : white;
	display   : none;
	font-size : 1.5rem;
	position  : absolute;
	text-align: center;
}

.btntip>span {
	cursor: pointer;
}

.container {
	height: 100%;
}

.fit-image {
	object-fit: contain;
}

.img-holder {
	position: relative;
}

.img-holder:hover .btntip {
	display: block;
}

.img-holder:hover img,
.img-holder-side:hover img {
	-webkit-filter: blur(1.7px);
	filter        : blur(1.7px);
}

.img-holder-side {
	position: relative;
}

.img-holder-side>.btntip {
	left: 0;
	top : 0;
}

.img-holder-side:hover .btntip {
	display: block;
}

.img-holder>.btntip {
	bottom: 0;
	left  : 0;
}